<a href="https://colab.research.google.com/github/sbswapnil/python-course/blob/main/Basic_Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) INTRODUCTION

## What is Python: 

**Python** is **open scource general-purpose object-oriented interpreted** programing langauge created by **Guido Van Rossum** in 1991.

## Characteristics:


*   Python is a **Dynamic Type Langauge**.<br>we do not need to assign datatype to a variables.
*   It is easy to **learn** and **simple to understand.**
*   It is **interpreted** language.
*   It takes **very less time** for development.

#2) FIRST PYTHON PROGRAM

In [40]:
# this program simply prints the hello world in the output.
print('Hello World !!')

Hello World !!

# 3) VARIABLE TYPES AND ASSIGNMENTS

*   python supports **String**, **Integer**, **Float**, **Boolean** and **complex** datatypes.

In [41]:
roll_number = 12  #interger
name = 'swapnil'  #string
marks = 97.23     #float
ispass = True     #boolean
coplx = 2+3j      # complex
# we can print multiple variables like given below.
print(roll_number, name, marks, ispass, coplx)

12 swapnil 97.23 True (2+3j)

## Multiple assignment

*   In Multiple assignment, we can assign multiple variables in a single line.

In [42]:
a=b=1

# value of a is 1 and value for b is also 1
print(a,b)

1 1

In [43]:
a,b=2,'swapnil'
# value of a is 2 and value for b is swapnil
print(a,b)

2 swapnil

# 4) STANDERD DATATYPES

*   **Numbers:** 
*   **String:**
*   **List:**
*   **Tuple:**
*   **Dictionary:** 

**Mutable datatypes**:

1.   List
2.   Sets
3.   Dictionary

**Immutable datatypes**:

1.   Numeric data types
2.   Strings
3.   Tuples


we will see what is **mutable** and **immutable** means later in this tutorial.<br> **id()** is a function used to get identity (memory location) of the variable.

## 1) Numbers

*   **Numbers:** python supports four different numerical types: **1)int 2)long 3)float and 4)complex**.
*   Numbers are **immutable** it means that, we can not change it after they created.

In [44]:
a = 12 #integer
b = 12.12 #float
c = 12+12j #complex

d = 12
# print('Id of variable a', id(a))
# a=23
# print('Id of variable d', id(a))

## 2) Strings

*   Strings are **continuous set of characters.**
*   String are also **immutable**.

In [45]:
s1 = 'swapnil'
s2 = s1+' bobe'
s3 = 'swapnil'
# print('Id of variable s1', id(s1))
# print('Id of variable s3', id(s3))
print(s1,s2, sep=',') # 'sep' parameter used to seperate the arguments in print function.

swapnil,swapnil bobe

**String slicing**: we can access the part of string.<br>**Example:** s1='swapnil',  we can slice it as s1[start index, end index]


*   If we dont want to include starting index we can do that as well like this **s1[:end index]**, so it start from begining of the string.
*   also, If we dont want to include end index we can do that as well like this **s1[strat index:]**, so it start from given index and ends to the end of the string.
*   combining above two point we can copy whole string like s1[:]

*   indexing starts from 0.

In [46]:
s1 = 'swapnil'
print(s1[0:2])

sw

In [47]:
print(s1[:3])

swa

In [48]:
print(s1[3:])

pnil

In [49]:
s1copy = s1[:]
print(s1copy)

swapnil

In [50]:
# dir() this function lists all available methods we can use on that perticular variable.
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## 3) List
*   It is collection of different datatypes. 
*   List are **mutable**.
*   we can create list with list() or [].

In [51]:
# creating list
l = [1,2,'swapnil', 2+3j]
print(l)

[1, 2, 'swapnil', (2+3j)]

In [52]:
# we can also use  slicing on lists

print(l[0:3])
print(l[2:])
print(l[:])

[1, 2, 'swapnil']
['swapnil', (2+3j)]
[1, 2, 'swapnil', (2+3j)]

In [53]:
# list concatination
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l = l1+l2
print(l)
print(l1*2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4]

In [54]:
# assigning values to the list

l[0]='abc' # value abc is assign to the 0th position of list
print(l)

['abc', 2, 3, 4, 5, 6, 7, 8]

In [55]:
# deleting value  from list
del l[1] # 2 will be deleted
print(l)

['abc', 3, 4, 5, 6, 7, 8]

In [56]:
#  list inside list

l = [1,2,3,[4,5,6], 7, [8,9]]
print(l)

[1, 2, 3, [4, 5, 6], 7, [8, 9]]

In [57]:
print(l[3]) # prints [4,5,6] list

[4, 5, 6]

In [58]:
# access elemets fromlist which is inside of the another list
print(l[3][0]) # prints 4

4

In [59]:
dir(list()) # lists all the methods available for list

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [60]:
# append

print(l)
l.append(12)
print(l)

[1, 2, 3, [4, 5, 6], 7, [8, 9]]
[1, 2, 3, [4, 5, 6], 7, [8, 9], 12]

In [61]:
# clear

l.clear()  # clears the list.
print(l)

[]

In [62]:
# copy

l = [1, 2, 3, [4, 5, 6], 7, [8, 9]]
lcopy = l.copy() # its copies the whole list
print(lcopy)

[1, 2, 3, [4, 5, 6], 7, [8, 9]]

In [63]:
# count

l = [1, 2, 3, 4, 5, 3, 5, 2, 1]
print(l.count(5)) # prints count of given elemet from list.

2

In [64]:
# extends

l = [1, 2, 3, 4, 5, 3, 5, 2, 1]
l1 = [11, 22, 33, 44]

l.extend(l1) # its extends the sequence of elements to current list.
print(l)

[1, 2, 3, 4, 5, 3, 5, 2, 1, 11, 22, 33, 44]

In [65]:
# index

l = [1, 2, 3, [4, 5, 6], 7, [8, 9]]
print(l.index(2)) # returns the index of given element.

1

In [66]:
# insert

l = [1, 2, 3, [4, 5, 6], 7, [8, 9]]
l.insert(2, 33)  # position , value inserts the givent element at perticular position.
print(l)

[1, 2, 33, 3, [4, 5, 6], 7, [8, 9]]

In [67]:
# pop

l = [1, 2, 3, [4, 5, 6], 7, [8, 9]]
print(l.pop()) # pops last element of list
print(l)

[8, 9]
[1, 2, 3, [4, 5, 6], 7]

In [68]:
# remove

l = [1, 2, 3, [4, 5, 6], 7, [8, 9]]
l.remove(2) # removes first occurence of given element
print(l)

[1, 3, [4, 5, 6], 7, [8, 9]]

In [69]:
# reverse

l = [1, 2, 3, [4, 5, 6], 7, [8, 9]]
l.reverse() # revesre the list and returns none
print(l)

[[8, 9], 7, [4, 5, 6], 3, 2, 1]

In [70]:
# sort

l = [51, 22, 34, 4, 35, 62, 72, 83, 95]
l.sort() # sorts the list and returns none
print(l)

[4, 22, 34, 35, 51, 62, 72, 83, 95]

## 4)**Tuples**

*    It is also collection of diffrent types of datatypes.
*    Tuples are **immutable**.
*    we can create tuples with tuple() or ().

In [71]:
t = (1,2,3)
print(t)

(1, 2, 3)

In [72]:
# creating tuple with single value
t = 5,
print(t,type(t))

(5,) <class 'tuple'>

In [73]:
# creating empty tuple
t = ()
print(type(t))

<class 'tuple'>

we can also perform slicing on tuple.<br>
but we can not assign values to the perticular index like list

In [74]:
t = (1,2,3,4,5)
print(t[0:3])
print(t[3:])
print(t[:])

(1, 2, 3)
(4, 5)
(1, 2, 3, 4, 5)

In [75]:
# tuple concatination

t1 = (1,2,3,4,5)
t2 = (5,6,7,8)
t = t1+t2
print(t)

(1, 2, 3, 4, 5, 5, 6, 7, 8)

In [76]:
dir(tuple())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [77]:
# count

print(t1.count(1))

1

In [78]:
# index

print(t1.index(3))

2

## 5) **Dictionary**

*   **Dictionary** consist of key value pairs.
*   Dictionary is a **mutable** datatype.
*   we can create them using {}.

In [79]:
d = {'roll_number':12, 'name':'swapnil', 'age':24}
print(d)

{'roll_number': 12, 'name': 'swapnil', 'age': 24}

In [80]:
# indexing using keys  

print(d['age'])
print(d['name'])

24
swapnil

In [81]:
# assignment

print(d['age']) #before
d['age']=30
print(d['age']) #after

24
30

In [82]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [83]:
# keys

d = {'roll_number':12, 'name':'swapnil', 'age':24}
keys = d.keys()
print(keys)

dict_keys(['roll_number', 'name', 'age'])

In [84]:
# values

d = {'roll_number':12, 'name':'swapnil', 'age':24}
values = d.values()
print(values)

dict_values([12, 'swapnil', 24])

In [85]:
# items

d = {'roll_number':12, 'name':'swapnil', 'age':24}
print(d.items())

dict_items([('roll_number', 12), ('name', 'swapnil'), ('age', 24)])

In [86]:
# copy

d = {'roll_number':12, 'name':'swapnil', 'age':24}
dcopy = d.copy()
print(dcopy)

{'roll_number': 12, 'name': 'swapnil', 'age': 24}

In [87]:
# get

d = {'roll_number':12, 'name':'swapnil', 'age':24}
print(d.get('name'))

swapnil

In [88]:
# pop

d = {'roll_number':12, 'name':'swapnil', 'age':24}
print(d.pop('name'))

swapnil

In [89]:
# clear

d = {'roll_number':12, 'name':'swapnil', 'age':24}
d.clear()
print(d)

{}

In [90]:
# fromkeys

d = {'roll_number':12, 'name':'swapnil', 'age':24}
print(d.fromkeys([1,2,3,4],11 ))

{1: 11, 2: 11, 3: 11, 4: 11}

In [91]:
# popitem

In [92]:
# setdefault

In [93]:
# update

## 6) Set

*   **Set** is a unorder list of unique items.
*   Sets are **mutable**.
*   It dose not support indexing.

In [94]:

s = set([1,2,3,2,14,6,4,14,6,7])
print(s)

{1, 2, 3, 4, 6, 7, 14}

In [95]:
# we can also create set like given below.

s = {1,2,3,2,14,6,4,14,6,7}
print(s)

{1, 2, 3, 4, 6, 7, 14}

In [96]:
dir(set())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## **Exercise**

*   Perform all available methods for perticular datatype except methods starts with **double underscore (__)**.
*   Use **help()** function to check how to use them.

# 5) MUTABLE AND IMMUTABLE

**1.   Mutable** means we can change variables value after they created.
*   **Examples**: Integer, String and Tuples.<br>

*   Lets see in mutable datatypes, if a=10 and b=15 we can use id() to check the memory location of variable a and b.
*   Now we assign variable a to variable c, the variable c point to the same memory location that a is pointing to.
*   But if we change the value of 'a' to 20 will 
it will point to diffrent location.
*   So, it means now  variables a and c pointing to diffrent locations.
*   It means that, we can not change the value of that perticular memory location.

<hr>

**2.   Immutable** means we can not change variables value after they created.
*   **Examples**: List, Set and Dictionary.

*   Lets see in immutable datatypes, if a=[1,2,3,4] and b=[6,7,8,9] we can use id() to check the memory location of variable a and b.
*   Now we assign variable a to variable c, the variable c point to the same memory location that a is pointing to.
*   But if we append the 12 to variable a still both a and c points to the same location. 
*   It means that, we can change the value of that perticular memory location


<br><hr>

*   In python every variable is reference to the 
memory location where the data is stored.<br> 
*   for better understanding look below cells.

In [97]:
# mutable
a=10
b=15
print('Id of a = ', id(a), 'value of a', a)
print('Id of b = ', id(b))

c=a
print('\nId of c = ', id(c), 'value of c', c)

a=20
print('\nId of a = ', id(a), 'value of a', a)
print('Id of c = ', id(c), 'value of c', c)

Id of a =  10914784 value of a 10
Id of b =  10914944

Id of c =  10914784 value of c 10

Id of a =  10915104 value of a 20
Id of c =  10914784 value of c 10

In [98]:
# immutabble

a = [1,2,3,4]
b = [6,7,8,9]

print('Id of a = ', id(a), 'value of a', a)
print('Id of b = ', id(b))

c = a
print('\nId of c = ', id(c), 'value of a', a)

a+=[12]
print('\nId of a = ', id(a), 'value of a', a)
print('Id of c = ', id(c), 'value of c', c)

Id of a =  139805512478792 value of a [1, 2, 3, 4]
Id of b =  139805511862024

Id of c =  139805512478792 value of a [1, 2, 3, 4]

Id of a =  139805512478792 value of a [1, 2, 3, 4, 12]
Id of c =  139805512478792 value of c [1, 2, 3, 4, 12]

# 6) CONDITIONAL STATMENTS

## 1) if

*  It is used to ckeck the given condition.
*  syntax : 
>  if condition: 
>>statments

In [99]:
a = 10
if a==10:
  print('value of a is 10')

value of a is 10

In [100]:
a = 100
if a>10:
  print('value of a is greater than 10')

value of a is greater than 10

In [101]:
a = 1
if a<10:
  print('value of a is less than 10')

value of a is less than 10

In [102]:
a = 5
if a!=10:
  print('value of a is not equals to10')

value of a is not equals to10

## 2) if else

*  if the given condition is false then it will executes statments from else block.

In [103]:
a = 10
if a!=10:
  print('value of a is not equal to 10')
else:
  print('value of a is 10')

value of a is 10

## 3) nested if else

In [126]:
a = 100
if a>10:
  print()
  if a==100:
    print('value of a is not equal to 10')
else:
  print('value of a is 10')

value of a is not equal to 10

# 7) LOOPS

## 1) range()

*  range() function is more frequently used with for loop.
*  range function creates a squence from starting value to end value.
*  It takes 3 args start, end, step
*  sequence starts from start value and ends to end value(excluded).  
*  step is used to make diffrence between two values.

In [127]:
# range

a = range(1, 10) # create sequence form value 1 to 10 (10 is excluded)
print(a)
print(list(a))

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:

a = range(1, 10, 2) # create sequence form value 1 to 10 (10 is excluded)
print(a)
print(list(a))

range(1, 10, 2)
[1, 3, 5, 7, 9]

In [129]:

a = range(1, 10, 5) # create sequence form value 1 to 10 (10 is excluded)
print(a)
print(list(a))

range(1, 10, 5)
[1, 6]

## 2) for

*  for loop is used to iterate over the sequence.
*  for loop in python is little diffrent than other languages.

In [130]:
a = [1, 2, 3, 4] # list
for i in a:      # iterate over list
  print(i, end=',')

1,2,3,4,

In [131]:
# using range 

for i in range(1, 10):      # iterate over list
  print(i, end=',')

1,2,3,4,5,6,7,8,9,

## 3) for else

In [132]:
for i in range(1, 10):      # iterate over list
  print(i, end=',')
else:
  print('\nelse block...')

1,2,3,4,5,6,7,8,9,
else block...

## 4) while

*  It execuits the block of code only when given condition is true.

In [133]:
a=10
while a>=1:
  print(a)
  a-=1

10
9
8
7
6
5
4
3
2
1

## 5) while else

In [134]:
a=10
while a>=1:
  print(a)
  a-=1 
else:
  print('value ofa is less than 1')

10
9
8
7
6
5
4
3
2
1
value ofa is less than 1

# 8) FUNCTIONS

*   **functions** are nothing but execution of block of code.
*   It minimizes the lines in the program.
*   It takes multiple arguments.
*   It can also return multiple values.
*   **def** keyword is used to create function.

In [135]:
# simple hello function

def hello():   # function declaration.
  print('Hello World....')

hello()   # function call.

Hello World....

## 1) Required Arguments

*   In this type arguments have to passed in a function in correct positional order. 
*   Here, the number of arguments in the function call should match exactly with the function definition.

In [136]:
# function with arguments

def add(a, b):
  print('addition is = :', a+b)

add(5, 10)

addition is = : 15

In [137]:
# function with return statment.

def add(a, b):
  return a+b


sum = add(5, 10)
print('addition is = :', sum)

addition is = : 15

## 2) Keyword Arguments

*  In this type position of the argument dose not matter.

In [138]:
def add(a, b):
  return a+b


sum = add(a=5, b=10)
print('addition is = :', sum)

sum = add(b=15, a=20)
print('addition is = :', sum)

addition is = : 15
addition is = : 35

## 3) Default Arguments

*  In this type, we are passing default value for the arguments.

In [139]:
def add(a=5, b=10):
  return a+b

sum = add()
print('addition is = :', sum)


sum = add(a=10)
print('addition is = :', sum)


sum = add(10,20)
print('addition is = :', sum)

addition is = : 15
addition is = : 20
addition is = : 30

# 9) \*args and **kwargs

*   **\*args** is used to pass variable length of arguments to the function.
*   It act as a tuple.
*   **\*\*kwargs** is used pass variable length of key value paire of arguments.
*   It acts as dictionry.

In [140]:
# *arg

def add(*args):
  sum = 0
  for i in args:
    sum+=i
  return sum

sum = add(5, 10, 15, 20)
print('addition is = :', sum)

sum = add(1,2,3,4,5,6)
print('addition is = :', sum)

addition is = : 50
addition is = : 21

In [141]:
def info(**kwargs):
  for key, value in kwargs.items():
    print('key : ',key,', value : ',value)

info(name='swapnil', age=23)

# d = {'name':'swapnil', 'age':23, 'rll_no':12}
print()
info(name='swapnil', age=23, rll_no=12)

key :  name , value :  swapnil
key :  age , value :  23

key :  name , value :  swapnil
key :  age , value :  23
key :  rll_no , value :  12

# 10) GLOBAL VS LOCAL VARIABLE

*   **Global** can be access through out the python code.
*   **Local** can be access only for that perticular block of code.

In [142]:
x = 10  # global

def a():
  x=20  # local
  print('value of x inside function = ', x)

a()
print('value of x outside function = ', x)

value of x inside function =  20
value of x outside function =  10

11) ANANOMUS FUNCTION (lambda function)

*   **lambda** keyword is used to create **ananomus function**.
*   In **lambda** function we can use **map()** and **filter()** function.

In [143]:
square = lambda x:x*x
square(2)

4

## 1) filter

In [144]:
# filter even numbers.

a = [1,2,3,4,5,6,7,8,9,10]

a
even = list(filter(lambda x:x%2==0, a))
print(even)

[2, 4, 6, 8, 10]

In [145]:
l2 = lambda x:'even' if x%2==0 else 'odd'
l2(4)

'even'

In [146]:
# map

a = [1,2,3,4,5,6,7,8,9,10]
sqre = list(map(lambda x:x*x,a))
print(sqre)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [147]:
def square(n):
  return n*n

l=[2,3,4,5]
result = list(map(square, l))
result

[4, 9, 16, 25]